h2 {
  margin-bottom: 0.5rem;
}

.spread {
  margin-top: 0.5rem;
  display: flex;
  gap: 10px;
}

.div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.colorPick {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.colorPick .colorPicker {
  cursor: pointer;
  height: 100%;
}

.colorPick label {
  font-size: 14px;
  font-weight: 500;
}

.radiusInput {
  height: 100%;
  width: 50px;
  padding: 0 6px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.fontDiv {
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
}
