.root {
  font-family: "Outfit", sans-serif;
  width: 100%;
  flex: 1;
}

.area {
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 1rem;
  z-index: -1;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.area::-webkit-scrollbar {
  display: none;
}
