.root {
  width: 100vw;
  height: 100vh;
  background-color: #3296d7;
}

.appContainer {
  padding: 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
